.custom_colour{
    background-color: rgb(254, 249, 246);

}
.grey-colour{
    background-color: rgb(46,46,46)
}




.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .test {
    height: 5rem;
    padding: 0 15px;
    object-fit: cover;
    background-color: red;
  }
  
  .test:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 5rem;
  }
  
  .wrapper {
    position: absolute;
    display: flex;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  